.add-btn {
  position: relative;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #fff;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.add-btn:hover {
  opacity: 0.3;
}

/* плюсик на кнопке */
.add-btn::before,
.add-btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.add-btn::after {
  transform: rotate(90deg);
}
