.elements__button-delete {
  position: absolute;
  top: 20px;
  right: 16px;
  background-image: url(../../../images/delet-button.svg);
  background-size: cover;
  width: 18px;
  height: 19px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.elements__button-delete:hover {
  opacity: 0.5;
}
