.info__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 336px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 400px) {
  .info__description {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
