.info__edit-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s linear;
  width: 24px;
  height: 24px;
  margin: 12px 0 0 18px;
}

.info__edit-btn:hover {
  opacity: 0.3;
}

@media (max-width: 320px) {
  .info__edit-btn {
    margin: 5px 13px 0;
  }
}
