.elements__like-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s linear;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 19px;
  padding: 10px;

  justify-self: end;
}

.elements__like-btn:hover {
  opacity: 0.5;
}
