.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: opacity 0.3s linear;
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.popup__close-btn::before {
  transform: rotate(45deg);
}

.popup__close-btn::after {
  transform: rotate(-45deg);
}

@media (max-width: 510px) {
  .popup__close-btn {
    top: -65px;
    right: -5px;
  }
}

.popup__close-btn:hover {
  opacity: 0.5;
}
