.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: opacity 0.3s linear;
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; */
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 1px;
}

.popup__close-btn::before {
  transform: rotate(45deg);
}

.popup__close-btn::after {
  transform: rotate(-45deg);
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media (max-width: 510px) {
  .popup__close-btn {
    top: -45px;
    right: 0;
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 510px) {
  .popup__close-btn::before,
  .popup__close-btn::after {
    height: 3px;
  }
}
